html,body {
    
  font-family: "Poppins", sans-serif;
  color: #ffffff;
}
canvas {
  background-color: #EEEEEE;
  margin-bottom: 5px;
}
.snakeboard{
margin-bottom: 10px;
}
.wrapper {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}
body {
  background-color: #D8D2CB;
  justify-content: center;
  text-align: center;
  color: #6e7888;
  
}
.board{
  margin-bottom: 50px;
}
@font-face {
  src: url("https://fonts.googleapis.com/css2?family=Poppins:wght@500;800&display=swap");
}

.asset {
display: none;
}

